
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.app-header {
    width: 100%;
    background-color: #1f2d3a;

    text-align: center;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout-button {
    padding: 0.4rem 0.9rem;
    border: none;
    border-radius: 4px;
    background-color: #133267;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 30px;
}

.logout-button:hover {
    background-color: #0e274e;
}


.app-header h1 {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    line-height: 1;
    font-size: 2rem; /* justera om du vill */
}

.app-footer {
    width: 100%;
    background-color: #1f2d3a;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.app-main {

    flex: 1;
}
